@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* button font */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@500&display=swap');

.button-font {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 500;

}

body {
    margin: 0;
    box-sizing: border-box;
    background-color: #eaeaef;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.loading {
    animation: run 2.5s infinite linear;
}

@keyframes run {
    0% {
        margin-left: -30%;
    }

    100% {
        margin-left: 100%;
    }
}

.file-uploader{
    height: 80px !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
}